<header class="site-header">

  <a class="site-title" href="{{ site.baseurl }}/{% if page.lang == 'en' %}en/{% endif %}">
    <img src="{{ "/img/viniciusdacal.jpg" | prepend: site.baseurl }}" class="title-picture">
    <div class="titles-wrapper">
      <div class="title">{{ site.title }}</div>
      <div class="subtitle">{{ site.jobtitle }}</div>
    </div>
  </a>
  <nav class="site-nav">
    {% for menu in site.t[page.lang] %}
      <a class="page-link {% if menu[1].url == page.url %}active{% endif %}" href="{{ menu[1].url | prepend: site.baseurl }}">{{menu[1].name}}</a>
    {% endfor %}
  </nav>
  <div class="language-menu">
    <a href="{{ "/" | prepend: site.baseurl }}" {% if page.lang == 'pt' %}class="active"{% endif %}>PT</a>
    <a href="{{ "/en/" | prepend: site.site.baseurl }}" {% if page.lang == 'en' %}class="active"{% endif %}>EN</a>
  </div>
</header>
