.layout__title {
  color: #ffa700;
}
.layout__translation-link {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}
.layout__bio {
  margin-bottom: 10px;
}

.layout__social-links {
  display: flex;
  align-items: center;
}

.layout__social-links__link {
  margin-right: 10px;
  display: flex;
  fill: #ffa700;
}


