.subscribe-form * {
  box-sizing: border-box;
}
.subscribe-form {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.subscribe-form legend {
  border: none;
  font-size: inherit;
  margin-bottom: 10px;
  padding: 0;
  position: relative;
  display: table;
}
.subscribe-form fieldset {
  border: 0;
  padding: 0.01em 0 0 0;
  margin: 0;
  min-width: 0;
}
.subscribe-form body:not(:-moz-handler-blocked) fieldset {
  display: table-cell;
}
.subscribe-form h1,
.subscribe-form h2,
.subscribe-form h3,
.subscribe-form h4,
.subscribe-form h5,
.subscribe-form h6 {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
}
.subscribe-form p {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
}
.subscribe-form ol:not([template-default]),
.subscribe-form ul:not([template-default]),
.subscribe-form blockquote:not([template-default]) {
  text-align: left;
}
.subscribe-form p:not([template-default]),
.subscribe-form hr:not([template-default]),
.subscribe-form blockquote:not([template-default]),
.subscribe-form ol:not([template-default]),
.subscribe-form ul:not([template-default]) {
  color: inherit;
  font-style: initial;
}
.subscribe-form[data-format='modal'] {
  display: none;
}
.subscribe-form[data-format='slide in'] {
  display: none;
}
.subscribe-form__input,
.subscribe-form__select,
.subscribe-form__checkboxes {
  width: 100%;
  color: rgb(0, 0, 0);
  border-color: rgb(227, 227, 227);
  border-radius: 4px;
  font-weight: 400;
}
.subscribe-form__button,
.subscribe-form__submit {
  border: 0;
  border-radius: 24px;
  color: #ffffff;
  background-color: rgb(22, 119, 190);
  cursor: pointer;
  display: inline-block;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  margin-bottom: 15px;
  overflow: hidden;
  padding: 0;
  position: relative;
  vertical-align: middle;
}
.subscribe-form__button:hover,
.subscribe-form__submit:hover,
.subscribe-form__button:focus,
.subscribe-form__submit:focus {
  outline: none;
}
.subscribe-form__button:hover > span,
.subscribe-form__submit:hover > span,
.subscribe-form__button:focus > span,
.subscribe-form__submit:focus > span {
  background-color: rgba(0, 0, 0, 0.1);
}
.subscribe-form__button > span,
.subscribe-form__submit > span {
  display: block;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  padding: 12px 24px;
}
.subscribe-form__input {
  background: #ffffff;
  font-size: 15px;
  padding: 12px;
  border: 1px solid #e3e3e3;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  line-height: 1.4;
  margin: 0;
  -webkit-transition: border-color ease-out 300ms;
  transition: border-color ease-out 300ms;
}
.subscribe-form__input:focus {
  outline: none;
  border-color: #1677be;
  -webkit-transition: border-color ease 300ms;
  transition: border-color ease 300ms;
}
.subscribe-form__input::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.8;
}
.subscribe-form__input::-moz-placeholder {
  color: inherit;
  opacity: 0.8;
}
.subscribe-form__input:-ms-input-placeholder {
  color: inherit;
  opacity: 0.8;
}
.subscribe-form__input::placeholder {
  color: inherit;
  opacity: 0.8;
}

.subscribe-form__alert {
  background: #f9fafb;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  flex: 1 0 auto;
  list-style: none;
  margin: 25px auto;
  padding: 12px;
  text-align: center;
  width: 100%;
}
.subscribe-form__alert:empty {
  display: none;
}
.subscribe-form__alert-success {
  background: #d3fbeb;
  border-color: #10bf7a;
  color: #0c905c;
}
.subscribe-form__alert-error {
  background: #fde8e2;
  border-color: #f2643b;
  color: #ea4110;
}
.subscribe-form__spinner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 0px;
  width: 0px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 0px;
  overflow: hidden;
  text-align: center;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.subscribe-form__spinner > div {
  margin: auto;
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 0.3;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: subscribe-form__bouncedelay-subscribe-form
    1.4s infinite ease-in-out both;
  animation: subscribe-form__bouncedelay-subscribe-form
    1.4s infinite ease-in-out both;
}
.subscribe-form__spinner > div:nth-child(1) {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.subscribe-form__spinner > div:nth-child(2) {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.subscribe-form__submit {
  height: 50px;
}
.subscribe-form__submit .subscribe-form__spinner {
  opacity: 1;
  height: 100%;
  width: 50px;
}
.subscribe-form__submit .subscribe-form__spinner ~ span {
  opacity: 0;
}
.subscribe-form__powered-by[data-active='false'] {
  opacity: 0.35;
}
@-webkit-keyframes subscribe-form__bouncedelay-subscribe-form {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes subscribe-form__bouncedelay-subscribe-form {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
.subscribe-form blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  border-left: 5px solid #e1e1e1;
}
.subscribe-form {
  box-shadow: 0 2px 15px 0 rgba(210, 214, 220, 0.5);
  max-width: 700px;
  overflow: hidden;
}

.subscribe-form__header {
  margin-top: 0;
  margin-bottom: 20px;
  color: rgb(77, 77, 77);
  font-size: 20px;
  font-weight: 700;
}
.subscribe-form__header h1 {
  margin-top: 0;
  margin-bottom: 15px;
}
.subscribe-form__subheader {
  margin: 15px 0;
}

.subscribe-form__row {
  display: flex;
}



.subscribe-form__success {
  color: #27ae60;
  margin-bottom: 20px;
  font-size: 14px;
}

.subscribe-form__error {
  color: #c0392b;
  margin-bottom: 20px;
  font-size: 14px;
}

.subscribe-form__header,
.subscribe-form__subheader,
.subscribe-form__image {
  z-index: 2;
  position: relative;
  margin-bottom: 0 !important;
}

.subscribe-form__image img {
  max-width: 100%;
}

.subscribe-form__image img {
  margin-bottom: 0 !important;
}
.subscribe-form__field {
  margin: 0 0 15px 0;
}
.subscribe-form__input,
.subscribe-form__submit {
  width: 100%;
}
.subscribe-form__guarantee {
  font-size: 13px;
  margin: 0 0 15px 0;
}
.subscribe-form__guarantee > p {
  margin: 0;
}
.subscribe-form__powered-by {
  color: #7d7d7d;
  display: block;
  font-size: 12px;
  margin-bottom: 0;
}
.subscribe-form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.subscribe-form__submit {
  width: 100%;
  text-transform: uppercase;
}

.subscribe-form__column {
  padding: 20px;
  position: relative;
  padding: 40px;
  width: 50%;
}


@media (max-width: 680px)
{
  .subscribe-form__row {
    flex-direction: column;
  }
  .subscribe-form__column {
    width: 100%;
  }
  .subscribe-form__column:nth-child(2) {
    border-top: 1px solid #e9ecef;
  }
}
